.preview {
  display: flex;
  flex-direction: column;
  border: solid 1px rgba(128, 128, 128, 0.49);
  border-radius: 16px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 1rem;
}

.heading-title {
  /* font-size: 72px; */
  background: -webkit-linear-gradient(180deg, #2f3ec2, #00c8ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.preview > div {
  margin: 1rem;
  width: 30rem;
}

/* googlePreview */
.googlePreview a:hover {
  text-decoration: underline;
}

/* facebook */

.facebook {
  width: 30rem;
  background-color: #f2f3f5;
  /* height: 22.5rem; */
  border: solid 1px rgba(169, 169, 169, 0.29);
}

.facebook img {
  width: 30rem;
  height: 15rem;
  object-fit: cover;
  object-position: center;
}

.facebook > div:nth-child(1) {
  height: 15rem;
}
.facebook > div:nth-child(1),
.linkedin > div:nth-child(1) {
  border-bottom: solid 1px rgba(169, 169, 169, 0.29);
}
.facebook > div {
  margin: 1rem;
}

/* twitter */
.twitter {
  border: solid 1px rgba(169, 169, 169, 0.29);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 30rem;
  transition: all 0.3s ease;
  background-color: #e1e8ed;
}

.twitter:hover {
  border: solid 1px rgba(128, 128, 128, 0.458);
}

.twitter img {
  width: 30rem;
  height: 15rem;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.twitter > div:nth-child(1) {
  border-bottom: solid 1px rgba(169, 169, 169, 0.29);
  height: 15rem;
}
.twitter > div:nth-child(2) {
  padding: 5px 16px;
  background-color: #f2f3f5;
}

.linkedin img {
  width: 30rem;
  height: 13rem;
  object-fit: cover;
  object-position: center;
}

.linkedin > div:nth-child(2) {
  padding: 5px 16px;
  background-color: #f3f6f8;
}
.linkedin > div:nth-child(1) {
  height: 13rem;
}
.linkedin {
  border: solid 1px rgba(169, 169, 169, 0.29);
}

@media (max-width: 768px) {
  .preview > div {
    width: 20rem;
  }
  .facebook,
  .twitter,
  .linkedin {
    width: 20rem;
  }
  .facebook img,
  .twitter img,
  .linkedin img {
    width: 20rem;
    height: 11rem;
  }
  .facebook > div:nth-child(1),
  .twitter > div:nth-child(1),
  .linkedin > div:nth-child(1) {
    height: 11rem;
  }
}
