@import url(//fonts.googleapis.com/css?family=Lato:300:400);
body {
  margin:0;
}
.App{
  background-color: #F9FBFD;
  
}


p{
  color : rgb(68 64 60/1)
}


.container{
  padding: 4rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


a {
  text-decoration: none;
}